
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        input {
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        div {
            margin-bottom: 9px;
        }

          button {
            padding: 8px 18px;
            background-color: #2073d8;
            color: #fff;
            box-shadow: #ccc;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        button:hover {
            background-color: #0055ff;
        }

        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    
